#fixedheader {
    width: 335px;
}

.narrowbody {
    width: 335px; /* screensize - eight */
    margin-left: 1px;
    font-size: 10px;
}

.gamename {
    font-size: 15px;
}

img {
    height: 64px;
    width: 64px;
}

.topspacer {
    height: 35px;
}

.bottomspacer {
    height: 10px;
}

.historymargins {
    margin-top: 68px;
}

.gridletter {
    margin: 2px;
    border-radius: 4px;
    width: 42px;
    height: 31px;
    font-size: 25px;
    text-shadow: 1px 0 0 black;
}

.key, .backspacekey, .enterkey {
    margin: 1px;
    border-radius: 3px;
    box-shadow: 3px 3px 4px #999;
    height: 40px;    
}

.key {
    width: 32px;
    font-size: 12px;
}

.firstkeyfirstrow {
    margin-left: 3px;
}

.firstkeysecondrow {
    margin-left: 20px;
}

.firstkeythirdrow {
    margin-left: 52px;
}

.backspacekey {
    width: 164px;
    font-size: 12px;
}

.enterkey {
    width: 164px;
    font-size: 12px;
}

.fourcolmargin {
    margin-left: 73px;
}

.fivecolmargin {
    margin-left: 52px;
}

.sixcolmargin {
    margin-left: 27px;
}

.closebutton {
    border-radius: 4px;
    width: 21px;
    height: 21px;
    margin: 2px 2px 5px 5px;
}

.message {
    font-size: 12px;
    font-weight: 500;
    height: 41px;
}

.restartmessage {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    height: 160px;
    width: 310px;
}

#guesswordtitle {
/*    height: 53px;*/
    height: 34px;
    width: 229px;
}

.bigtitletext {
    font-size: 29px;
    text-shadow: 1px 1px #000000;
}

.lightyellowtext {
    font-size: 8px;
}

.parahead {
    font-size: 14px;
}

.scroll {
    height: 336px;
}
