#fixedheader {
    width: 332px;
}

.narrowbody {
    width: 332px; /* screensize - eight */
    margin-left: 1px;
    font-size: 10px;
}

.gamename {
    font-size: 14px;
}

img {
    height: 63px;
    width: 63px;
}

.topspacer {
    height: 33px;
}

.bottomspacer {
    height: 10px;
}

.historymargins {
    margin-top: 67px;
}

.gridletter {
    margin: 2px;
    border-radius: 4px;
    width: 41px;
    height: 30px;
    font-size: 25px;
    text-shadow: 1px 0 0 black;
}

.key, .backspacekey, .enterkey {
    margin: 1px;
    border-radius: 3px;
    box-shadow: 3px 3px 4px #999;
    height: 40px;    
}

.key {
    width: 32px;
    font-size: 12px;
}

.firstkeyfirstrow {
    margin-left: 3px;
}

.firstkeysecondrow {
    margin-left: 19px;
}

.firstkeythirdrow {
    margin-left: 51px;
}

.backspacekey {
    width: 163px;
    font-size: 12px;
}

.enterkey {
    width: 163px;
    font-size: 12px;
}

.fourcolmargin {
    margin-left: 72px;
}

.fivecolmargin {
    margin-left: 51px;
}

.sixcolmargin {
    margin-left: 26px;
}

.closebutton {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    margin: 2px 2px 5px 5px;
}

.message {
    font-size: 12px;
    font-weight: 500;
    height: 41px;
}

.restartmessage {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    height: 160px;
    width: 307px;
}

#guesswordtitle {
/*    height: 53px;*/
    height: 33px;
    width: 221px;
}

.bigtitletext {
    font-size: 29px;
    text-shadow: 1px 1px #000000;
}

.lightyellowtext {
    font-size: 8px;
}

.parahead {
    font-size: 14px;
}

.scroll {
    height: 332px;
}
