#fixedheader {
    width: 528px;
}

.narrowbody {
    width: 528px; /* screensize - eight */
    margin-left: 3px;
    font-size: 19px;
}

.gamename {
    font-size: 27px;
}

img {
    height: 116px;
    width: 116px;
}

.topspacer {
    height: 96px;
}

.bottomspacer {
    height: 19px;
}

.historymargins {
    margin-top: 124px;
}

.gridletter {
    margin: 3px;
    border-radius: 7px;
    width: 73px;
    height: 72px;
    font-size: 46px;
    text-shadow: 1px 0 0 black;
}

.key, .backspacekey, .enterkey {
    margin: 3px;
    border-radius: 7px;
    box-shadow: 3px 3px 4px #999;
    height: 49px;    
}

.key {
    width: 43px;
    font-size: 23px;
}

.firstkeyfirstrow {
    margin-left: 37px;
}

.firstkeysecondrow {
    margin-left: 61px;
}

.firstkeythirdrow {
    margin-left: 104px;
}

.backspacekey {
    width: 216px;
    font-size: 23px;
}

.enterkey {
    width: 216px;
    font-size: 23px;
}

.fourcolmargin {
    margin-left: 117px;
}

.fivecolmargin {
    margin-left: 78px;
}

.sixcolmargin {
    margin-left: 39px;
}

.closebutton {
    border-radius: 7px;
    width: 35px;
    height: 35px;
    margin: 2px 2px 11px 11px;
}

.message {
    font-size: 21px;
    font-weight: 500;
    height: 58px;
}

.restartmessage {
    margin-left: 19px;
    font-size: 19px;
    font-weight: 500;
    height: 160px;
    width: 488px;
}

#guesswordtitle {
/*    height: 75px;*/
    height: 58px;
    width: 528px;
}

.bigtitletext {
    font-size: 46px;
    text-shadow: 1px 1px #000000;
}

.lightyellowtext {
    font-size: 13px;
}

.parahead {
    font-size: 19px;
}

.scroll {
    height: 528px;
}
