#fixedheader {
    width: 416px;
}

.narrowbody {
    width: 416px; /* screensize - eight */
    margin-left: 2px;
    font-size: 14px;
}

.gamename {
    font-size: 20px;
}

img {
    height: 86px;
    width: 86px;
}

.topspacer {
    height: 60px;
}

.bottomspacer {
    height: 14px;
}

.historymargins {
    margin-top: 91px;
}

.gridletter {
    margin: 2px;
    border-radius: 5px;
    width: 55px;
    height: 48px;
    font-size: 34px;
    text-shadow: 1px 0 0 black;
}

.key, .backspacekey, .enterkey {
    margin: 2px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #999;
    height: 44px;    
}

.key {
    width: 37px;
    font-size: 17px;
}

.firstkeyfirstrow {
    margin-left: 18px;
}

.firstkeysecondrow {
    margin-left: 37px;
}

.firstkeythirdrow {
    margin-left: 74px;
}

.backspacekey {
    width: 186px;
    font-size: 17px;
}

.enterkey {
    width: 186px;
    font-size: 17px;
}

.fourcolmargin {
    margin-left: 91px;
}

.fivecolmargin {
    margin-left: 63px;
}

.sixcolmargin {
    margin-left: 32px;
}

.closebutton {
    border-radius: 5px;
    width: 26px;
    height: 26px;
    margin: 2px 2px 8px 8px;
}

.message {
    font-size: 16px;
    font-weight: 500;
    height: 48px;
}

.restartmessage {
    margin-left: 15px;
    font-size: 17px;
    font-weight: 500;
    height: 160px;
    width: 385px;
}

#guesswordtitle {
/*    height: 62px;*/
    height: 44px;
    width: 374px;
}

.bigtitletext {
    font-size: 36px;
    text-shadow: 1px 1px #000000;
}

.lightyellowtext {
    font-size: 10px;
}

.parahead {
    font-size: 16px;
}

.scroll {
    height: 416px;
}
