#fixedheader {
    width: 520px;
}

.narrowbody {
    width: 520px; /* screensize - eight */
    margin-left: 3px;
    font-size: 19px;
}

.gamename {
    font-size: 26px;
}

img {
    height: 114px;
    width: 114px;
}

.topspacer {
    height: 93px;
}

.bottomspacer {
    height: 19px;
}

.historymargins {
    margin-top: 122px;
}

.gridletter {
    margin: 3px;
    border-radius: 7px;
    width: 71px;
    height: 70px;
    font-size: 45px;
    text-shadow: 1px 0 0 black;
}

.key, .backspacekey, .enterkey {
    margin: 3px;
    border-radius: 7px;
    box-shadow: 3px 3px 4px #999;
    height: 49px;    
}

.key {
    width: 42px;
    font-size: 22px;
}

.firstkeyfirstrow {
    margin-left: 36px;
}

.firstkeysecondrow {
    margin-left: 59px;
}

.firstkeythirdrow {
    margin-left: 102px;
}

.backspacekey {
    width: 214px;
    font-size: 22px;
}

.enterkey {
    width: 214px;
    font-size: 22px;
}

.fourcolmargin {
    margin-left: 115px;
}

.fivecolmargin {
    margin-left: 77px;
}

.sixcolmargin {
    margin-left: 38px;
}

.closebutton {
    border-radius: 7px;
    width: 34px;
    height: 34px;
    margin: 2px 2px 11px 11px;
}

.message {
    font-size: 21px;
    font-weight: 500;
    height: 58px;
}

.restartmessage {
    margin-left: 19px;
    font-size: 19px;
    font-weight: 500;
    height: 160px;
    width: 481px;
}

#guesswordtitle {
/*    height: 74px;*/
    height: 57px;
    width: 520px;
}

.bigtitletext {
    font-size: 46px;
    text-shadow: 1px 1px #000000;
}

.lightyellowtext {
    font-size: 13px;
}

.parahead {
    font-size: 19px;
}

.scroll {
    height: 520px;
}
