#fixedheader {
    width: 432px;
}

.narrowbody {
    width: 432px; /* screensize - eight */
    margin-left: 2px;
    font-size: 15px;
}

.gamename {
    font-size: 21px;
}

img {
    height: 90px;
    width: 90px;
}

.topspacer {
    height: 65px;
}

.bottomspacer {
    height: 15px;
}

.historymargins {
    margin-top: 96px;
}

.gridletter {
    margin: 3px;
    border-radius: 6px;
    width: 57px;
    height: 51px;
    font-size: 36px;
    text-shadow: 1px 0 0 black;
}

.key, .backspacekey, .enterkey {
    margin: 2px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #999;
    height: 45px;    
}

.key {
    width: 38px;
    font-size: 18px;
}

.firstkeyfirstrow {
    margin-left: 20px;
}

.firstkeysecondrow {
    margin-left: 40px;
}

.firstkeythirdrow {
    margin-left: 78px;
}

.backspacekey {
    width: 190px;
    font-size: 18px;
}

.enterkey {
    width: 190px;
    font-size: 18px;
}

.fourcolmargin {
    margin-left: 95px;
}

.fivecolmargin {
    margin-left: 65px;
}

.sixcolmargin {
    margin-left: 33px;
}

.closebutton {
    border-radius: 6px;
    width: 28px;
    height: 28px;
    margin: 2px 2px 8px 8px;
}

.message {
    font-size: 17px;
    font-weight: 500;
    height: 50px;
}

.restartmessage {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
    height: 160px;
    width: 399px;
}

#guesswordtitle {
/*    height: 64px;*/
    height: 46px;
    width: 403px;
}

.bigtitletext {
    font-size: 38px;
    text-shadow: 1px 1px #000000;
}

.lightyellowtext {
    font-size: 11px;
}

.parahead {
    font-size: 17px;
}

.scroll {
    height: 432px;
}
