#fixedheader {
    width: 368px;
}

.narrowbody {
    width: 368px; /* screensize - eight */
    margin-left: 1px;
    font-size: 12px;
}

.gamename {
    font-size: 17px;
}

img {
    height: 73px;
    width: 73px;
}

.topspacer {
    height: 45px;
}

.bottomspacer {
    height: 12px;
}

.historymargins {
    margin-top: 77px;
}

.gridletter {
    margin: 2px;
    border-radius: 4px;
    width: 47px;
    height: 38px;
    font-size: 29px;
    text-shadow: 1px 0 0 black;
}

.key, .backspacekey, .enterkey {
    margin: 1px;
    border-radius: 4px;
    box-shadow: 3px 3px 4px #999;
    height: 42px;    
}

.key {
    width: 34px;
    font-size: 14px;
}

.firstkeyfirstrow {
    margin-left: 9px;
}

.firstkeysecondrow {
    margin-left: 27px;
}

.firstkeythirdrow {
    margin-left: 61px;
}

.backspacekey {
    width: 173px;
    font-size: 14px;
}

.enterkey {
    width: 173px;
    font-size: 14px;
}

.fourcolmargin {
    margin-left: 80px;
}

.fivecolmargin {
    margin-left: 56px;
}

.sixcolmargin {
    margin-left: 29px;
}

.closebutton {
    border-radius: 4px;
    width: 23px;
    height: 23px;
    margin: 2px 2px 6px 6px;
}

.message {
    font-size: 14px;
    font-weight: 500;
    height: 44px;
}

.restartmessage {
    margin-left: 13px;
    font-size: 16px;
    font-weight: 500;
    height: 160px;
    width: 340px;
}

#guesswordtitle {
/*    height: 57px;*/
    height: 38px;
    width: 287px;
}

.bigtitletext {
    font-size: 32px;
    text-shadow: 1px 1px #000000;
}

.lightyellowtext {
    font-size: 9px;
}

.parahead {
    font-size: 15px;
}

.scroll {
    height: 368px;
}
