#fixedheader {
    width: 444px;
}

.narrowbody {
    width: 444px; /* screensize - eight */
    margin-left: 2px;
    font-size: 15px;
}

.gamename {
    font-size: 21px;
}

img {
    height: 93px;
    width: 93px;
}

.topspacer {
    height: 69px;
}

.bottomspacer {
    height: 15px;
}

.historymargins {
    margin-top: 100px;
}

.gridletter {
    margin: 3px;
    border-radius: 6px;
    width: 59px;
    height: 54px;
    font-size: 37px;
    text-shadow: 1px 0 0 black;
}

.key, .backspacekey, .enterkey {
    margin: 2px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #999;
    height: 45px;    
}

.key {
    width: 38px;
    font-size: 18px;
}

.firstkeyfirstrow {
    margin-left: 22px;
}

.firstkeysecondrow {
    margin-left: 43px;
}

.firstkeythirdrow {
    margin-left: 81px;
}

.backspacekey {
    width: 193px;
    font-size: 18px;
}

.enterkey {
    width: 193px;
    font-size: 18px;
}

.fourcolmargin {
    margin-left: 98px;
}

.fivecolmargin {
    margin-left: 66px;
}

.sixcolmargin {
    margin-left: 33px;
}

.closebutton {
    border-radius: 6px;
    width: 29px;
    height: 29px;
    margin: 2px 2px 8px 8px;
}

.message {
    font-size: 17px;
    font-weight: 500;
    height: 51px;
}

.restartmessage {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
    height: 160px;
    width: 410px;
}

#guesswordtitle {
/*    height: 66px;*/
    height: 47px;
    width: 425px;
}

.bigtitletext {
    font-size: 39px;
    text-shadow: 1px 1px #000000;
}

.lightyellowtext {
    font-size: 11px;
}

.parahead {
    font-size: 17px;
}

.scroll {
    height: 444px;
}
